# Ignore VS Code configs
.vscode/

# Ignore CMake build directories and artifacts
build/
CMakeFiles/
pdfs/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore following file formats:
*.pdf

# Ignore compiled build outputs
*.o
*.elf
*.img