# Ignore VS Code configs
.vscode/

# Ignore CMake build directories and artifacts
build/
CMakeFiles/
pdfs/
/sd card
Makefile

# Ignore following file formats:
*.pdf
*.txt

# Ignore compiled build outputs
*.o
*.elf
*.img